@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: azure;
}

.container {
  width: 100%;
  position: relative;
  background: rgba(3, 96, 251, 0.15);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* background: linear-gradient(to right, rgba(0, 90, 80, 0.5), transparent);
  background: linear-gradient(to right, black, transparent); */
}
.content {
  flex-grow: 1;
  content: "";
  width: 100%;
  height: 100%;
}
.video-slide {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  object-fit: cover;
}
.test {
  display: flex;
  align-items: left;
  flex-direction: column;
  height: 100%;
  min-width: 300px;
  border-right: 5px solid #ccc;
}
h1 {
  font-size: 2.5rem;
  padding: 1rem 2rem;
}
.grid-container {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  font-size: 1rem;
  border-top: 2px solid #ccc;
  width: 100%;

  height: 100%;
  padding: 1rem 2rem;
}
.grid-item {
  display: flex;
  gap: 1rem;
  border: none;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
}
.btns {
  display: flex;
  gap: 0.7rem;
}
.btn1 {
  cursor: pointer;
  background-color: rgb(34, 100, 229);
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.btn2 {
  cursor: pointer;
  background-color: rgb(9, 186, 133);
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
a {
  text-decoration: none;
}
